In [1]:
import pygwalker as pyg
import pandas as pd
from pathlib import Path

In [3]:
path = Path(str(Path().resolve().parent), "data", "pj_sample_value.csv")

In [4]:
df = pd.read_csv(path)

In [5]:
df

,circle,kpi,periodicity,range,period_year,period_month,value
0,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,1,35.0
1,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,2,50.0
2,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,3,50.0
3,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,4,55.0
4,HR,share of teams constituted as circles,month,0 <= % <= 100,2023,5,70.0
...,...,...,...,...,...,...,...
80,Digital,additional monetization/savings from CRM,quarter,0 <= X,2023,12,NaN
81,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,3,186258.0
82,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,6,0.0
83,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,9,26000.0
84,Programs,additional monetization/savings from programs,quarter,0 <= X,2023,12,NaN

### Analysing the given data

Checking the mean of the KPIs to see which KPIs (similar values) can be plotted together

In [21]:
kpis = df["kpi"].unique()
avg = [df.loc[df["kpi"] == kpi]["value"].mean() for kpi in kpis]
kpi_avg = {kpis[i]: avg[i] for i in range(len(kpis))}

In [22]:
print(kpi_avg)

{'share of teams constituted as circles': 64.375, 'share short tern leave': 2.2249999999999996, 'involuntary headcount change (FTE)': 0.9612499999999999, 'reachability': 44.833333333333336, 'count sessions on .projuventute.ch': 178822.875, 'count leads': 550.5, 'net promoter score': 35.0, 'private donations': 1540370.125, 'additional monetization/savings from CRM': 17000.0, 'additional monetization/savings from programs': 70752.66666666667}

This shows that the relation of kpi:circles is m:1

In [34]:
for i in range(len(kpis)):
    print(df.loc[df["kpi"] == kpis[i]]["circle"].unique())

['HR']
['HR']
['HR']
['Programs - Children - Counceling']
['Programs - Parents -Online']
['Programs - Parents -Online']
['Programs - Parents -Online']
['Fundraising']
['Digital']
['Programs']

In [36]:
pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-2" style="height: auto">\n    <head>\n        <meta http-equiv="Conâ€¦